@page "/checkout"

@inject Services.CartService CartService

@* this is optional, i write this code just wanna test my code running as well or not *@
@inject IJSRuntime JSRuntime

<h3>You have @CartService.SelectedItems.Count in cart:</h3>
<ProductList Products="CartService.SelectedItems"></ProductList>

@code
{
    //declare form model
    public Models.CheckoutForm CheckoutForm { get; set; } = new();

    //this is optional, i write this code just wanna test my code running as well or not
    private async Task SubmitAsync()
    {
        await JSRuntime.InvokeVoidAsync("alert", $"Thanks {CheckoutForm.Name}, we will deliver to your address at {CheckoutForm.Address}.");
    }
}

<EditForm class="vstack gap-3" Model="CheckoutForm" OnValidSubmit="SubmitAsync">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div>
        <label class="form-label" for="name">Name:</label>
        <InputText id="name" class="form-control" @bind-Value="CheckoutForm.Name"></InputText>
        <ValidationMessage class="form-control" For="()=>CheckoutForm.Name"></ValidationMessage>
    </div>

    <div>
        <label class="form-label" for="address">Address:</label>
        <InputText id="address" class="form-control" @bind-Value="CheckoutForm.Address"></InputText>
        <ValidationMessage class="form-control" For="()=>CheckoutForm.Address"></ValidationMessage>
    </div>

    <div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</EditForm>